<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body style="background-color: #eeeeee; padding: 0px; margin: 0px">
		<div><font face="null"></font>&nbsp;</div>
		<table border="0" cellpadding="0" cellspacing="0" width="100%" bordercolor="#666666">
			<tbody>
				<tr bgcolor="#ffffff">
					<td style="margin: 0pt" align="center" bgcolor="#eeeeee">
						<table style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333333" border="0" cellpadding="20" cellspacing="0" width="560" bordercolor="#333333">
							<tbody>
								<tr align="center">
									<td style="background-color: #ffffff; border-top: 5px solid #333333; border-bottom: 1px solid #999999" ;="" ""="" padding-left:="" 0px;="" padding-bottom:="" 0px="" bgcolor="#ffffff;"><img alt="" src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/logo.png" title="" align="left" /></td></tr>
								<tr align="center" bgcolor="#ffffff">
									<td align="left"><div style="font-size: 20px; font-weight:bold; color: #000000;">Hey <%= @user.title %>! Here's Your TradeYa <%= @freq %> Digest <div>
										<div style="font-size: 12px; color: #666666; margin-top: 10px;">
										<% if @nt.size > 0 %>
											<div style="margin-bottom: 5px;">Your <%= @nt.size.to_s + ' TradeYa' + ((@nt.size > 1) ? 's' : '') %>:</div>
											<hr>
											<% @nt.each_value do |n| %>
											<div style="font-size: 15px;color: #55AAD4; margin-top: 15px;"><a style = "text-decoration:none;color: #55AAD4;" href="<%= n["item"].pl_url %>"><%= n["item"].title %></a></div>
												<ul style = "margin:-5 px; padding: 0px;margin-top: 4px;">
													<% n["msg"].each do |msg|%>
														<%= msg.html_safe %>
													<% end %>
												</ul>
											<% end %>
										<% end %>
										<% if @no.size > 0 %>
											<div style="margin-top: 10px; margin-bottom: 6px;">Your <%= @no.size.to_s + ' Offer' + ((@no.size > 1) ? 's' : '') %>: </div>
											<hr>
											<% @no.each_value do |n| %>
											<div style="margin-top: 15px; margin-bottom: 10px;">Your Offer for <span style="font-size: 15px;color: #55AAD4;"><a style = "text-decoration:none;color: #55AAD4;" href="<%= n["trade"].item.pl_url %>?poffset=offer_<%=n["trade"].id%>&showMyOffer=true"><%= n["trade"].item.title %></a></span>
												<ul style = "margin:-5 px; padding: 0px;margin-top: 4px;">
													<% n["msg"].each do |msg|%>
														<%= msg.html_safe %>
													<% end %>
												</ul>
											<% end %>
										<% end %>
										<br /><br/><span style="font-size: 15px">Thanks,</span></div>
										<span style="font-size: 15px">The TradeYa Team</span>
										<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px">
											<span style="font-size: 15px"><br /></span>
										</blockquote>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td align="center" bgcolor="#eeeeee">
						<span style="font-size: 10px; display: block; margin-top:5px; margin-bottom:5px;">TradeYa.com © 2012, All Rights Reserved <a href="<%= unsubscribe_mail_url %>">Unsubscribe/Change Notification</a></span>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>