                  <div id="c_pwd_modal" class="modal fade hide">
                    <a href="#" class="close" data-dismiss="modal"><img src="http://d3md9h2ro575fr.cloudfront.net/images/modal_cross.png"></a>
                    <div class="user_sub_heading in_center">Change Password</div>
                    <%= form_for(@user,:url => {:controller=> "registrations", :action => 'change_user_password'}, :html => {:id => "change_password_form"}) do |f| %>
                    <div id = "error_change_password" style = "display: none; margin-left: 22px; text-align:left;line-height:14px;color: red;font-size: 10pt; height:15px;"></div>

                    <div class="c_pwd_controls">
                      <% if f.object.encrypted_password.present? %>
                      <p>
                        <span>Old Password<span class="fgt"><a href="<%= new_user_password_url %>">Forgot?</a></span></span>
                        <%= f.password_field :current_password, :class => "resend_input" %>
                        <!-- <input type="text" class="resend_input"> -->
                      </p>
                      <% end %>
                      <p>
                        <span>New Password</span>
                        <%= f.password_field :password, :id => "user_new_password" ,:class => "resend_input", :autocomplete => "off"  %>
                        <!-- <input type="text" class="resend_input"> -->
                      </p>
                      <p>
                        <span>Confirm New Password</span>
                        <%= f.password_field :password_confirmation,:id => "user_new_password_confirmation", :class => "resend_input" %>
                        <!-- <input type="text" class="resend_input"> -->
                      </p>
                    </div>
                    <div class="resend_footer">
                      <span><a href="#" class="resend_submit ma_r" onclick="changePassword();return false;">Submit</a> or <a href="#" onclick="cancelChangePassword(); return false;">Cancel</a></span>
                    </div>
                    <% end %>
                  </div>
