<%if !@user.blank?%>
<!--Content Start -->
<div class="container">
  <div class="span10 item_middle_section">
    <div class="center_content">
      <div class="profile_main_wrapper ">
        <div class="profile_user_card">
          <div class="user_card_right">
            <%= render 'shared/user_card', :user => @user%>
          </div>
        </div>
        <div class="profile_rating_wrapper">
          <div class="profile_user_images">
            <div class="profile_large_image" id="profile_large_image">
              <img src="<%= @user.user_image(:medium)%>" />
            </div>
            <div class="profile_image_thumbs">
            	<% if @user == current_user && @user.user_all_image.count < 4%>
	              <a href="#photo_upload_modal" data-toggle="modal">
	                <img src="http://d3md9h2ro575fr.cloudfront.net/images/pr_thumb1.png">
	              </a>
              <% end %>
              <%if @user.user_all_image.count > 1%>
	              <%@user.user_all_image(:medium).each do |ph|%>
	              	<a href="#"><img src="<%=ph%>"  onclick="clickProfileImage('<%= ph %>'); return false;"></a>
	              <%end%>
              <%end%>
            </div>
          </div>
          <div class="profile_rating_section">
              <% if current_user and @user.id == current_user.id %>
            <a href="#" class="edit_pencil" onclick="$(this).hide(); $('.rating_text').hide(); $('.update_about_wrapper').fadeIn(); return false;"><img src="http://d3md9h2ro575fr.cloudfront.net/images/edit_pencil.png"></a>
            <% end %>
            <div class="rating_text" >
              <%=simple_format(@user.about).html_safe%>
            </div>
            <!-- <div class="update_about_wrapper"> -->
            <!-- <textarea class="about_edit"><%= @user.about%></textarea> -->
            <!-- <a href="#" id="save_about"><img src="http://d3md9h2ro575fr.cloudfront.net/images/profile_save.png"></a> -->
            <!-- </div> -->
            <%= form_for @user, html: {class: "update_about_wrapper"}, :remote => true do |f| %>
                  <%= f.text_area :about, :class => "about_edit" %>
                  <%= f.submit "", :type => :image, :src => "http://d3md9h2ro575fr.cloudfront.net/images/profile_save.png" %>
                  <%end%>

						<div class="rating_figures_wrapper">
							<div class="rating_circle green">
								<div class="o_rating"><img src="http://d3md9h2ro575fr.cloudfront.net/images/overall_rating.png"></div>
								<%=(@overall_rating.present?)? @overall_rating : 0.0%>
							</div>	
							<div class="rating_basis_wrapper">
								<div class="basis_section_outer">
									<div class="basis_section_inner_top">
										<div class="basis_small_text">Rating Based On:</div>
										<div class="basis_part1">
											<div class="basis_count">
												<p class="num"><%=@user.reviews.count%></p>
												<p class="num_text ">Reviews</p>
											</div>
										</div> 
										<div class="basis_part2">
											<div class="basis_count">
												<p class="num "><%=@user.past_trades.count%></p>
												<p class="num_text ">Trades</p>
											</div>
										</div> 
									</div>
									<div class="basis_section_inner_bottom">
										<div class="review_rating_wrapper_dashboard">
											<div class="d_star_rating">
												<div class="d_overall_rating"><div>Overall Rating</div><span class="d_star_rating_large" id="d_overall_rating"></span></div>
												<div class="d_item_described"><div>Item As Described</div><span class="d_star_rating_large" id="d_item_described"></span></div>
												<div class="d_item_communication"><div>Communication</div><span class="d_star_rating_large" id="d_item_communication"></span></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="profile_since">Member Since:  <%= @user.created_at.strftime("%B-%d-%Y")%></div>
					<div class="nav-collapse1 collapse">
						<div class="profile_tab_wrapper">
							<ul class="nav nav-tabs profile_tabs" id="profile_tab">
								<li><%=link_to 'Haves', haves_user_path(@user.id),:data => {:toggle=>"tab", :push => true }, :id => "tab_haves", :remote=>true%></li>
								<li><%=link_to 'Wants', wants_user_path(@user.id), :data => {:toggle=>"tab", :push => true },:id => "tab_wants",:remote=> true%></li>
								<li><%=link_to 'Likes', likes_user_path(@user.id),:data => {:toggle=>"tab", :push => true}, :id => "tab_likes",:remote=> true%></li>
								<% if current_user == @user %>
								 <!--  <li id=my-offers-tab><a href="#">My Offers</a></li> -->
									<li><%=link_to 'My Offers', myoffers_user_path(@user.id),:data => {:toggle=>"tab"}, :id => "tab_myoffers",:remote=> true%></li>
								<%end%>
								<li><%=link_to "Past Trades",past_trades_user_path(@user.id),:data => {:toggle=>"tab"}, :id => "tab_past_trades",:remote=> true %></li>
								<li class="tab_review">
									<%=link_to 'Reviews',reviews_user_path(@user.id),:data => {:toggle=>"tab"}, :id => "tab_reviews",:remote=> true %>
									<ul class="nav nav-tabs reviews_sub_tabs reviews_tabs" id="reviews_tab_div" style="display:none">
										<%if current_user == @user%>
											<li class="review_by_user_li"><a href="#" class="reviews_by_user active">My Reviews (<%=@user.user_reviews.count%>)</a></li>
										<%else%>
											<li class="review_by_user_li"><a href="#" class="reviews_by_user active">Reviews by <%=@user.first_name %> (<%=@user.user_reviews.count%>)</a></li>
										<%end%>
										<li><a href="#" class="reviews_by_trades">Reviews of <%=@user.first_name%>'s Trades (<%=@user.reviews.count%>)</a></li>
									</ul>
								</li>
								<li><%=link_to 'Following', following_user_path(@user.id),:data => {:toggle=>"tab"}, :id => "tab_following",:remote=> true%></li>
								<%if current_user == @user%>
									<!-- <li><%#=link_to 'Inbox (2)', inbox_user_path(@user.id),:data => {:toggle=>"tab"}, :id => "tab_inbox",:remote=> true%></li> -->
									<li id="inbox-tab"><a href="#">Inbox</a></li>
								<%end%>
							</ul>
							<!-- <div class="tab_search">
								<input type="text" name="search">
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- tab content start -->
	<canvas id="spinner"></canvas>
	<div class="tab-content" id="tab-content"></div>
	<!-- tab content ends -->
</div>
<!-- Content End-->
<%end%>

<% if user_signed_in? and current_user == @user %>

<!-- modal for photo Upload Starts-->

<div id="photo_upload_modal" class="modal hide fade">
  <a href="#" class="close del_close" data-dismiss="modal">X</a>
  <div class="heading">Upload a photo from your computer</div>
  <input type="file" class="file_up">
</div>
<!-- modal for photo Upload Ends-->

<% end %>
<script>
	$(function() {
		<% if params[:tab].blank? or params[:tab] == "haves" %>
			$("#profile_tab #tab_haves").click();
		<% elsif params[:tab] == "wants" %>
			$("#profile_tab #tab_wants").click();
		<% elsif params[:tab] == "reviews" %>
			$("#profile_tab #tab_reviews").click();
		<% elsif params[:tab] == "myoffers" %>
			$("#profile_tab #tab_myoffers").click();
		<% elsif params[:tab] == "inbox" %>
			$("#profile_tab #tab_inbox").click();
		<% elsif params[:tab] == "like" %>
			$("#profile_tab #tab_likes").click();
		<% end %>
	});
</script>
<script>
	$('.profile_tabs li a').click(function(){
		$('.profile_tabs li').removeClass('active');
		$(this).parent().addClass('active');
		$("#reviews_tab_div").hide();
		$(".reviews_by_user").addClass("active");
		$('#tab_haves').text("Haves");
		$('#tab_wants').text("Wants");
		$('#tab_likes').text("Likes");
		$('#tab_myoffers').text("My Offers");
		$('#tab_past_trades').text("Past Trades");
		$('#tab_reviews').text("Reviews");
		$('#tab_following').text("Following");
	});
</script>
<script>
	var opts = {
		size: 75,           // Width and height of the spinner
		factor: 0.25,       // Factor of thickness, density, etc.
		color: "#FF5447",      // Color #rgb or #rrggbb
		speed: 1.0,         // Number of turns per second
		clockwise: true     // Direction of rotation
	};
	var ajaxLoader = new AjaxLoader("spinner", opts);
	$('.profile_tabs li a').click(function(){
		ajaxLoader.show();
	});
</script>
<script type="text/javascript">
	$('.d_star_rating_large').raty({
			size:  '20',
			starOn:    'http://d3md9h2ro575fr.cloudfront.net/images/d_star_on.png',
			starOff:   'http://d3md9h2ro575fr.cloudfront.net/images/d_star_off.png'
		});
	$('#d_overall_rating').raty({
		size:  '25',
		starOn:    'http://d3md9h2ro575fr.cloudfront.net/images/orangestar.png',
		starOff:   'http://d3md9h2ro575fr.cloudfront.net/images/whitestar.png',
		halfShow: false,
		readOnly: true,
		score: <%=(@overall_rating.present?)? @overall_rating : 0%>
	});
	$('#d_item_described').raty({
		size:  '25',
		starOn:    'http://d3md9h2ro575fr.cloudfront.net/images/orangestar.png',
		starOff:   'http://d3md9h2ro575fr.cloudfront.net/images/whitestar.png',
		halfShow: false,
		readOnly: true,
		score: <%=(@describe_rating.present?)? @describe_rating : 0%>
	});
	$('#d_item_communication').raty({
		size:  '25',
		starOn:    'http://d3md9h2ro575fr.cloudfront.net/images/orangestar.png',
		starOff:   'http://d3md9h2ro575fr.cloudfront.net/images/whitestar.png',
		halfShow: false,
		readOnly: true,
		score: <%=(@communication_rating.present?)? @communication_rating : 0%>
	});
</script>
