<ul class="nav pull-right item_info_header">
  <%if user_signed_in?%>
  <li class="add"><a href="<%=new_item_path%>" onclick="mixpanel.track('Click on add item from top nav'); _gaq.push(['_trackEvent', 'TopNav', 'clk_addItm', 'Click on add item from top nav']);addDelay(this,event);return false;"><img src="http://d3md9h2ro575fr.cloudfront.net/images/item_plus.png"/><br /><span class="item_caption">Item</span></a></li>
   <li id="user_joyride" class="topnav_user_img"><a href="<%=dashboard_user_path(current_user)%>" style="padding-top: 4px;" onclick="mixpanel.track('Click on top nav user image'); _gaq.push(['_trackEvent', 'TopNav', 'clk_UsrImg', 'Click on top nav user image']);addDelay(this,event);return false;"><img src="<%= current_user.user_image(:thumb)%>" height="45px" width="50px" style="width: 42px; height: 42px;margin-top: 2px;"  /></a></li>
   <li><a href="#" id="user_img_top" style="margin-top: 12px; margin-left:-8px" onclick="$('.user_options').toggleClass('show'); return false;"><img src="http://d3md9h2ro575fr.cloudfront.net/images/arrow_brown.png" onmouseover="this.src='http://d3md9h2ro575fr.cloudfront.net/images/user_dd_arrow.png'" onmouseout="this.src='http://d3md9h2ro575fr.cloudfront.net/images/arrow_brown.png'"></a></li>
  <div class="user_options"><div class="cat_heading"><%=current_user.title%></div>
    <ul class="top_cat user">
      <li><a href="<%=settings_user_path(current_user)%>" onclick="mixpanel.track('Click on setting from top nav'); _gaq.push(['_trackEvent', 'TopNav', 'clk_setting', 'Click on setting from top nav']);addDelay(this,event);return false;">Settings</a></li>
      <li><a href="<%=edit_user_path(current_user)%>" onclick="mixpanel.track('Click on Edit Profile from top nav'); _gaq.push(['_trackEvent', 'Activity', 'clk_EditProfl', 'Click on Edit Profile from top nav']);addDelay(this,event);return false;">Edit Profile</a></li>
      <li><a href="<%= invite_user_path(current_user) %>" onclick="mixpanel.track('Click on Invite Friends from top nav'); _gaq.push(['_trackEvent', 'Activity', 'clk_InvFrnds', 'Click on Invite Friends from top nav']);addDelay(this,event);return false;">Invite Friends</a></li>
      <li><a href="<%= destroy_user_session_url %>" onclick="mixpanel.track('Click on Logout from top nav'); _gaq.push(['_trackEvent', 'Activity', 'clk_Logout', 'Click on Logout from top nav']);addDelay(this,event);return false;">Logout</a></li>
    </ul>
  </div>
  <% else %>
  <li class="signin_icon"><img src="http://d3md9h2ro575fr.cloudfront.net/images/no_user.png" /><a href="#" aria-labelledby="myModalLabel" onclick="$('#signinmessage').hide(); /*_kmq.push(['record', 'Login', {'Show Login Modal': 'Global Top Nav Login Text Link','SignedIn' : get_KMSignedIn()}]); _gaq.push(['_trackEvent', 'register', 'login', 'Login Top Nav']);*/mixpanel.track('Login Top Nav');$('#signinmessage').hide();$('#user_login_email').val('');$('#user_password').val(''); openLoginForm();">&nbsp;Log In</a></li>
  <!-- <li class="signup_icon"><a href="#signup_box" data-toggle="modal" aria-labelledby="myModalLabel" onclick="if(jQuery('#fade').length == 0) return false;_kmq.push(['record', 'Global Top Nav Signup Text Link',{ 'SignedIn' : get_KMSignedIn()}]); _gaq.push(['_trackEvent', 'register', 'signup', 'Signup Top Nav']); closeAweberForm(); return showSignUpForm();"><img src="http://d3md9h2ro575fr.cloudfront.net/images/signup_icon.png" /><br />Sign Up</a></li> -->
  <%end%>
</ul>

