<div class="user_following_card">
	<div class="following_big_image">
		<a href="<%= user_path(follow)%>" onclick="mixpanel.track('Click User Image on Following Card');_gaq.push(['_trackEvent', 'Following tab', 'clk_UsrImg_FllwngCard', 'Click User Image on Following Card']);addDelay(this,event)"><img src="<%= follow.user_image(:medium)%>" style="width: 225px;"></a>
	</div>
	<div class="following_heading_wrapper">
		<!-- Following Hover -->
		<%if current_user and follow == current_user%>
		<%elsif current_user and @user == current_user%>
		<div class="follow_me follow_user_<%= follow.id%>" id= "follow_div">
			<%if request.fullpath.include?("followers") %>
			<%= form_tag follow_user_path(:id => follow.id,:item_id => (@item)? @item.id : nil), :id => "follow_action", :remote=>true do %>
			<%= hidden_field_tag 'follow', true%>
			<%= hidden_field_tag 'follow_tab', true%>
			<p><a href="#" onclick="$(this).parents('#follow_action').submit();mixpanel.track('UnFollow on Following Users Card');_gaq.push(['_trackEvent', 'Following card', 'Clk_Unfllw_FllwngCard', 'UnFollow on Following Users Card']); return false;">Follow</a></p>
			<%end%>
			<% else %>
			<%= form_tag follow_user_path(:id => follow.id,:item_id => (@item)? @item.id : nil), :id => "follow_action", :remote=>true do %>
			<%= hidden_field_tag 'follow', false%>
			<%= hidden_field_tag 'follow_tab', true%>
			<p><a href="#" onclick="$(this).parents('#follow_action').submit();mixpanel.track('UnFollow on Following Users Card');_gaq.push(['_trackEvent', 'Following card', 'Clk_Unfllw_FllwngCard', 'UnFollow on Following Users Card']); return false;">Unfollow</a></p>
			<%end%>
			<% end %>
		</div>
		<%else%>
		<div class="follow_me follow_user_<%= follow.id%>" id= "follow_div">
			<%= render 'shared/follow', :user => follow %>
		</div>
		<%end%>

		<div class="follow_head_left">
			<p class="u_name"><a href="<%= user_path(follow)%>"><%= follow.title%></a></p>
			<p class="u_place"><%= follow.location%></p>
		</div>
		<div class="star_section_right">
			<%= render 'shared/following_star_rating', :user => follow%>
		</div>
	</div>

	<div class="following_thumbs_wrapper">
		<% follow.items.limit(6).order("created_at DESC").where('status="LIVE"').each do |item|%>
		<div><%=link_to image_tag(item.item_image(:thumb) ), item_path(item),:onclick=>"_gaq.push(['_trackEvent', 'Following Card', 'clk_ItmImg_FllwngCrd', 'Click Item Images on Following Tab']);mixpanel.track('Click Item Images on Following Tab');addDelay(this,event);return false;" %></div>
		<%end%>
	</div>

	<div class="follow_shadow">
		<img src="http://d3md9h2ro575fr.cloudfront.net/images/follow_card_shadow.png">
	</div>
</div>