<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body style="background-color: #eeeeee; padding: 0px; margin: 0px">
		<div><font face="null"></font>&nbsp;</div>
		<table border="0" cellpadding="0" cellspacing="0" width="100%" bordercolor="#666666">
			<tbody>
				<tr bgcolor="#ffffff">
					<td style="margin: 0pt" align="center" bgcolor="#eeeeee">
						<table style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333333" border="0" cellpadding="20" cellspacing="0" width="560" bordercolor="#333333">
							<tbody>
								<tr align="center">
									<td style="background-color: #463f36"><img alt="" src="http://d3md9h2ro575fr.cloudfront.net/images/tradeya_logo.png" title="" align="left" /></td>
								</tr>
								<tr align="center" bgcolor="#ffffff">

									<td align="left"><span style="font-size: 15px">Hey <%= @item.user.first_name.titleize %>,&nbsp;</span><br />

										<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px"></blockquote><br />

										<span style="font-size: 15px"><%=@user.title%> likes your <%=link_to @item.title, item_url(@item)%>. <%=link_to "Click here", haves_user_url(@user)+"?from_email=true"%> to check out <%=@user.first_name.titleize%>'s stuff and see if you want to make a trade.</span>

										<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px"></blockquote><br />
										
										<span style="font-size: 15px"><br />
												Happy trading!
										</span><br />
										<span style="font-size: 15px">The TradeYa Team</span>
										
										<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px">
										<span style="font-size: 15px"><br /></span>
										</blockquote>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td align="center" bgcolor="#eeeeee">
						<span style="font-size: 10px; display: block; margin-top:5px; margin-bottom:5px;">TradeYa.com © 2013, All Rights Reserved <a href="<%= unsubscribe_mail_url %>">Unsubscribe/Change Notification</a></span>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
