<%if @pastOffers.size <= 0 %>
<!-- If no Past Offers Present -->
<div class="user_no_tradeyas">Your Past Offers history is empty. </div>
<% else %>
<!-- Tool Tip Icon-->
<% if current_user and current_user.tooltip %>
	<div class="info_tip_icon" style="margin-left:180px;"><a href="#" onclick="/*_kmq.push(['record', 'dashboard pastoffers tooltip for your past offers',{ 'SignedIn' : get_KMSignedIn()}]);_gaq.push(['_trackEvent', 'dashboard', 'tooltip_pastoffers', 'Icon next to Your Past Offers']);*/ return false;"><img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/info_tip_icon.png"  onmouseover="user_past_offer_tooltip_show();"  onmouseout="user_past_offer_tooltip_hide();" /></a></div>
<% end %>
<% @pastOffers.each_with_index do |pastOffer,index| %>
<div class="user_past_offers">
	<table width="100%" class="past_offer_head">
		<tr valign="top">
			<td width="75%">
				<% if index == 0 %>
					<div class="tooltip_post successful_offer_tooltip" style = "margin-left: -174px; margin-top: -29px;"><img src=<%= getToolTipImage(TOOL_TIP_RE_USE_OFFER) %> /></div>
					<div class="tooltip_post successful_offer_tooltip_right" style = "margin-left: 123px; margin-top: 8px;"><img src=<%= getToolTipImage(TOOL_TIP_RE_USE_OFFER_RIGHT) %> /></div>
				<%end %>
				<div class="current_offer_title_div">
					<a href="<%= pastOffer.item.item_url %>" class="current_offer_title click" onclick="/*_kmq.push(['record', 'dashboard pastoffers link tradeya title publisher',{ 'SignedIn' : get_KMSignedIn()}]);_gaq.push(['_trackEvent', 'dashboard', 'Clk_TryaLnkLdnPg', 'TradeYa Title from Publisher in Your Past Offers']);*/"><%= pastOffer.item.item_title %></a> by <%=pastOffer.item.user.title %>
				</div>
			</td>
			<td></td>
			<td></td>
		</tr>
	</table>
	<table width="100%" class="current_image_section">
		<tr valign="middle">
			<td width="15%" valign="center" class="user_image_border" style="width:  136px; height: 102px;">
				<% if not pastOffer.item.item_photos[0].nil? %>
					<div style="max-height: 102px; width: 136px; text-align: center; margin-left: auto; margin-right: auto;"><img src="<%= pastOffer.item.item_image(:thumb) %>" /></div>
				<% elsif not pastOffer.item.item_videos[0].nil? %>
					<a href="#" onclick="return false;"><div style="position:absolute;height:100px;width:135px;filter:alpha(opacity=60);-moz-opacity: 0.6;opacity: 0.6;"></div></a>
					<div style="display:block;width:135px;height:100px" id="itemVideo_<%= pastOffer.id %>"></div>
					<script>$(function(){videoAsRedirect('itemVideo_<%= pastOffer.id %>', '<%= pastOffer.item.item_videos[0].video %>','<%= pastOffer.item.item_url %>');});</script>
				<% else %>
					<div style="max-height: 102px; width: 136px; text-align: center; margin-left: auto; margin-right: auto;"><img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/default_img.png" /></div>
				<% end %>
			</td>
			<td width="5%">
				<div><img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/arrow_left_grey.png" /></div>
			</td>
			<td width="10%">
				<% if not pastOffer.offer.item_photos[0].nil? %>
					<div class="alert_img user_image_border" style="margin-top: 20px;"><img src="<%= pastOffer.offer.item_image(:small)%>" /></div>
				<% elsif not pastOffer.offer.item_videos[0].nil? %>
					<a href="<%= item_path(pastOffer.item,:showMyOffer=>true,:poffset=>'offer_' + pastOffer.id.to_s) %>"><div style="margin-top: 20px;position:absolute;height:52px;width:72px;filter:alpha(opacity=60);-moz-opacity: 0.6;opacity: 0.6;"></div></a>
					<div class="alert_img user_image_border" style="margin-top: 20px;" id="offerVideo_<%= pastOffer.id %>"></div>
					<script>$(function(){videoAsRedirect('offerVideo_<%= pastOffer.id %>', '<%= pastOffer.offer.item_videos[0].video %>',"<%= item_path(pastOffer.item,:showMyOffer=>true,:poffset=>'offer_' + pastOffer.id.to_s) %>");});</script>
				<% else %>
					<div class="alert_img user_image_border" style="text-align: center; margin-left: auto; margin-right: auto;"><img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/default_img.png" /></div>
				<% end %>
			</td>
			<td width="75%">
				<div class="current_offer_title_div">
					<%if pastOffer.item.deleted? %>
						Your <span class="current_offer_title"><%= pastOffer.offer.item_title%></span>
					<% else %>
					Your <a href="<%= item_path(pastOffer.item,:showMyOffer=>true,:poffset=>'offer_' + pastOffer.id.to_s) %>" class="current_offer_title click" onclick="/*_kmq.push(['record', 'dashboard pastoffers link tradeya title offerer',{ 'SignedIn' : get_KMSignedIn()}]);_gaq.push(['_trackEvent', 'dashboard', 'Clk_TryaLnkLdnPg', ' TradeYa Title from Offerer in Your Past Offers']);*/"><%= pastOffer.offer.item_title %></a>
					<%end %>
				</div>
				<div class="current_trd_btns">
					<div><a class="position-click" href="#" onclick="/*_kmq.push(['record', 'dashboard pastoffers body button delete past offers',{ 'SignedIn' : get_KMSignedIn()}]);_gaq.push(['_trackEvent', 'dashboard', 'Clk_DeleteOffer', 'Delete button in Your Past Offers']);*/ return false;"><img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/delete_button.png" onmouseover="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/delete_button_roll.png'" onmouseout="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/delete_button.png'" onclick="prepareDelete(<%= pastOffer.id%>,'PAST');" /></a></div>
				</div>
			</td>
		</tr>
	</table>
</div>
<% end %>
<% end %>

<script>
	$(document).ready(function() {
		bindAjaxSpinner();
	});
</script>