<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="Barter, Swap, Trade" />
    <link rel="image_src" href="" />
    <meta name="title" content="" />
    <meta name="description" content="" />
    <meta name="p:domain_verify" content="c00d0659cf5eae3010276340a134efa7"/>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="no-cache, no-store, max-age=0, must-revalidate" />
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE" />
    <META HTTP-EQUIV="EXPIRES" CONTENT="Fri, 01 Jan 2013 00:00:00 GMT" />
    <title>TradeYa - The easiest way to get anything you want without buying it.</title>
    <meta property="og:title" content="TradeYa" />
    <meta property="og:image" content="http://d3md9h2ro575fr.cloudfront.net/images/tradeya_sharing_logo.jpg">
    <meta property="og:description" content="The easiest way to get anything you want without buying it.">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link href="/assets/style.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/custom_style.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/home.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/bootstrap_and_overrides.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="/assets/items.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/jquery.Jcrop.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/application.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <!--[if gte IE 9]>
    <style type="text/css">
    *{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;

    }

    </style>
    <![endif]-->
    <!--[if IE 8]>
    <%= stylesheet_link_tag 'ie8' %>
    <![endif]-->
    <!--[if IE 9]>
    <%= stylesheet_link_tag 'ie9' %>
    <![endif]-->
    <!--[if IE 10]>
    <%= stylesheet_link_tag 'ie10' %>
    <![endif]-->
    <!--[if !IE]><!--><script>
                       if (/*@cc_on!@*/false) {
                         document.documentElement.className+=' ie10';
                       }
    </script><!--<![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="/assets/items.js" type="text/javascript"></script>
    <script src="/assets/jquery.Jcrop.js" type="text/javascript"></script>
    <script src="/assets/application.js" type="text/javascript"></script>
    <!--<script type="text/javascript" src="/assets/script.js"></script>-->
    <script type="text/javascript" src="/assets/jquery.inview.js"></script>
    <script src="/assets/twitter/bootstrap/bootstrap-transition.js?body=1" type="text/javascript"></script>
    <script src="/assets/twitter/bootstrap/bootstrap-alert.js?body=1" type="text/javascript"></script>
    <script src="/assets/twitter/bootstrap/bootstrap-modal.js?body=1" type="text/javascript"></script>
    <script src="/assets/twitter/bootstrap/bootstrap-dropdown.js?body=1" type="text/javascript"></script>
    <script src="/assets/twitter/bootstrap/bootstrap-scrollspy.js?body=1" type="text/javascript"></script>
    <script src="/assets/twitter/bootstrap/bootstrap-tab.js?body=1" type="text/javascript"></script>
    <script src="/assets/twitter/bootstrap/bootstrap-tooltip.js?body=1" type="text/javascript"></script>
    <script src="/assets/twitter/bootstrap/bootstrap-popover.js?body=1" type="text/javascript"></script>
    <script src="/assets/twitter/bootstrap/bootstrap-button.js?body=1" type="text/javascript"></script>
    <script src="/assets/twitter/bootstrap/bootstrap-collapse.js?body=1" type="text/javascript"></script>
    <script src="/assets/twitter/bootstrap/bootstrap-carousel.js?body=1" type="text/javascript"></script>
    <script src="/assets/twitter/bootstrap/bootstrap-typeahead.js?body=1" type="text/javascript"></script>
    <script src="/assets/twitter/bootstrap/bootstrap-affix.js?body=1" type="text/javascript"></script>
    <script src="/assets/twitter/bootstrap.js?body=1" type="text/javascript"></script>
    <script type="text/javascript">
     $(function () {
       isLandingPage = true;
       $('div.inview').bind('inview', function (event, visible) {
         if (visible) {
           $(this).find("#camera").animate({"left":"405px"}, 1000);
           $(this).find("#louisvitton").animate({"right":"405px"}, 1000);
           $(this).find("#camera2").animate({"top":"450px"}, 1000);
           $(this).find("#louisvitton2").animate({"top":"-450px"}, 1000);
         }else{
           $(this).find("#camera").animate({"left":"0px"}, 1000);
           $(this).find("#louisvitton").animate({"right":"0px"}, 1000);
           $(this).find("#camera2").animate({"top":"0px"}, 1000);
           $(this).find("#louisvitton2").animate({"top":"0px"}, 1000);
         }
       });
     });
     $(document).ready(function(){
       window.scrollTo(0,2);
       $('input, textarea').placeholder();
     });
    </script>
    <style>
     .navbar .container {
       width: auto;
     }
     .navbar{
       position: fixed;
     }
     #footer .container {
       width: auto;
     }
     .footer_inner li {
       padding: 10px 38px 25px 38px;
       margin-right: 33px;
       width: auto;
       margin-left: 33px;
     }
     .footer_inner {
       width: 70%;
     }
     .footer_outer {
       width: 30%;
     }
     .navbar .nav.item_info_header > li.signin_icon > a{
       font-size: 15.21px;
       padding-top: 16px;
       padding-right: 0px;
       padding-left: 0px;
     }
     .signin_icon {
       width: 120px;
     }
     .request_icon{
       padding-top: 9px;
     }
     #background_image {
       min-height: 100%;
       width: 100%;
       height: 100%;
     }
     .subhead{
       position: fixed;
     }
    </style>
    <script type="text/javascript">
     var _kmq = _kmq || [];
     var _kmk = _kmk || '<%= KISS_METRICS_KEY %>';
     function _kms(u){
       setTimeout(function(){
         var d = document, f = d.getElementsByTagName('script')[0],
         s = d.createElement('script');
         s.type = 'text/javascript'; s.async = true; s.src = u;
         f.parentNode.insertBefore(s, f);
       }, 1);
     }
     _kms('//i.kissmetrics.com/i.js');
     _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');

     // Code for Google analytics
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', '<%= ENV["GOOGLE_ANALYTICS_KEY"] %>']);
     <% if session[:show_hello] %>
     //_kmq.push(['set', {'landing_page':'home'}]);
     _gaq.push(['_setCustomVar',1,'AB_Page', 'Home Page', 2]);
     <% end %>
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    </script>
    <!-- start Mixpanel >
    commenting mixpanel because it will be loaded through segment.io
    <script type="text/javascript">
    (function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");
    b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+
    '//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';d=c.getElementsByTagName("script")[0];
    d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){
    var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(
    Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=a[f]=[]:
    f="mixpanel";g.people=g.people||[];h=['disable','track','track_pageview','track_links',
    'track_forms','register','register_once','unregister','identify','alias','name_tag','set_config',
    'people.set','people.set_once','people.increment','people.track_charge','people.append'];
    for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.2;})(document,window.mixpanel||[]);
    mixpanel.init('<%=ENV["MIXPANEL_TOKEN"]%>');
    <% if current_user.present? %>
    mixpanel.identify('<%=current_user.id%>');
    mixpanel.people.set({
    "$email": "<%=current_user.email%>",
    "gender": "<%=current_user.gender%>",
    "name": "<%=current_user.first_name%> <%=current_user.last_name%>"
    });
    <%end%>
    </script>
    <! end Mixpanel -->

      <!--  Segment.io Tracking code -->
      <script type="text/javascript">
       window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
       window.analytics.load("5phhxt7c83");
       window.analytics.page();

       <% if current_user.present? %>
       analytics.identify('<%=current_user.id%>', {
         email: '<%=current_user.email%>',
         gender: '<%=current_user.gender%>',
         <% if current_user.first_name.present? %>
         <% if current_user.last_name.present? %>
         name: '<%=current_user.first_name%> <%=current_user.last_name%>'
         <%else%>
         name: '<%=current_user.first_name%>'
         <%end%>
         <% else %>
         name: 'No Name'
         <%end%>
       });
       <%end%>
      </script>
      <!-- end Segment.io -->

      <!-- insert fb pixel -->
      <%= render :partial => 'shared/fb_pixel_tracking' %>


  </head>
  <body style="background-color: transparent;" onLoad="window.scrollTo(0,2)">
    <!--Wrapper Start -->
    <div id="wrap" style="background-color: transparent;">
      <!--Header Start -->
      <% if !current_user %>
        <div class="navbar">
      	  <div class="navbar-inner">
      	    <div class="container">

      	      <a class="logo" href="/"><img src="http://d3md9h2ro575fr.cloudfront.net/images/tradeya_logo.png" class="logo1">
                <img src="http://d3md9h2ro575fr.cloudfront.net/images/tradeya_logo2.png" class="logo2">
              </a>

      	      <div id="sign_in_block_div">
            	<ul class="nav pull-right item_info_header">
            	  <li class="signin_icon"> <a href="#" data-toggle="modal" aria-labelledby="myModalLabel" onclick="/*_kmq.push(['record', 'Login', {'Show Login Modal': 'Global Top Nav Login Text Link','SignedIn' : get_KMSignedIn()}]); */_gaq.push(['_trackEvent', 'TopNav', 'login', 'Login Top Nav']);mixpanel.track('Login Top Nav');$('#signinmessage').hide();$('#user_login_email').val('');$('#user_password').val(''); openLoginForm(); return false;">Log In</a></li>
            	  <!-- <li class="signup_icon request_icon"><a href="#" onclick="$('.request_form').css('display','block'); $('.request_form_invited').hide();" style="color: #55aad4;"><img src="http://d3md9h2ro575fr.cloudfront.net/images/request_icon.png" /><br />Request</a></li> -->
            	  <li class="signup_icon request_icon"><a href="#" onclick="$('#signup_box').modal('show'); analytics.track('Opened signup modal', {'Button location': 'Corner'});return false;" style="color: #55aad4;"><img src="http://d3md9h2ro575fr.cloudfront.net/images/signup_icon_topnav.png" /></a></li>
      		</ul>
      	      </div>
      	    </div>
      	  </div>
        </div>
        <script>
         $(function(){
           $('a.auth_provider').click(function(e) {
             var href = $(this).attr('href');
             var width = 600, height = 400;
             var left = (screen.width / 2) - (width / 2);
             var top = (screen.height / 2) - (2 * height / 3);
             var features = 'menubar=no,toolbar=no,status=no,width=' + width + ',height=' + height + ',toolbar=no,left=' + left + ',top=' + top;
             var loginWindow = window.open(href, '_blank', features);
             loginWindow.focus();
             if (e.preventDefault) { e.preventDefault(); } else { e.returnValue = false; }
             return false;
           });
         });
        </script>
        <div id='zip-div'></div>
      <% else %>
        <%= render "shared/header" %>
      <% end %>
      <!--Header End -->
      <section id="first" class="story" data-speed="3" data-type="background">
      	<div class="story2">
      	  <div class="align-center">
      	    <div class="text1"><img src="http://d3md9h2ro575fr.cloudfront.net/images/text1.png"></div>
      	    <div class="input_buttons">
              <%if not current_user%>
              <!-- <div class="request_btn"><a href="#" data-toggle="modal" aria-labelledby="myModalLabel" onclick="$('#request_modal').modal('show');">Request an Invite</a></div> -->
              <div class="request_btn"><a href="#" data-toggle="modal" aria-labelledby="myModalLabel" onclick="$('#signup_box').modal('show'); analytics.track('Opened signup modal', {'Button location': 'Top CTA'});">Sign Up</a></div>
              <div class="invite_btn"><a href="#" data-toggle="modal" aria-labelledby="myModalLabel" onclick="/*_kmq.push(['record', 'Login', {'Show Login Modal': 'Global Top Nav Login Text Link','SignedIn' : get_KMSignedIn()}]); */_gaq.push(['_trackEvent', 'register', 'login', 'Login Prompt']);mixpanel.track('Login Prompt');$('#signinmessage').hide();$('#user_login_email').val('');$('#user_password').val(''); openLoginForm(); return false;">Log In</a></div>
              <%end%>
      	    </div>
      	  </div>
      	</div>
      </section>

      <section id="second" class="story" data-speed="4" data-type="background">
      	<!-- <div class="story2">
      	<div class="align-center stop_text">
      	<div class="text2"></div>
      	</div>
      	</div> -->
      	<!-- <div class="bg" data-type="sprite" data-offsetY="300" data-Xposition="50%" data-speed="1.2"></div> -->
        <div class="img_outer">
          <img src="http://d3md9h2ro575fr.cloudfront.net/images/textbuble.png"  id="text_buble" />
          <div id="circle_outer">
            <div class="home_heading_big">Stop buying stuff! Trade for everything!</div>
            <div class="circle_wrapper">
              <div class="circle_inner">
                <div class="circle_inner_content">
                  <p>TradeYa makes it <b> easy</b>  to get anything you want without buying it.
                  </p>
                  <img src="http://d3md9h2ro575fr.cloudfront.net/images/bag_want.png">
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="third" class="story" data-speed="6" data-type="background" data-offsetY="250">
      	<div class="third_bg" data-type="sprite" data-offsetY="-1600" data-Xposition="50%" data-speed="-3"></div>
      	<div class="story2">
      	  <div class="align-center simply_text">
      	    <!-- <div class="text3"></div> -->
      	    <!-- <div class="third_bg2" data-type="sprite" data-offsetY="780" data-Xposition="50%" data-speed="1.1"></div> -->
            <div class="img_outer">
              <img src="http://d3md9h2ro575fr.cloudfront.net/images/third_bg3.png" class="image_large" />
              <img src="http://d3md9h2ro575fr.cloudfront.net/images/bg2_small.png" class="image_small" />


            </div>
          </div>
      	</div>
      </section>

      <section id="fourth" class="story" data-speed="6" data-type="background" data-offsetY="250">
      	<div class="story2">
      	  <div class="align-center find_text">
      	    <!-- <div class="text4"></div> -->
      	  </div>
      	  <!-- <div class="fourth_bg" data-type="sprite" data-offsetY="1205" data-Xposition="50%" data-speed="1.1"></div> -->
      	  <div class="img_outer">
            <img src="http://d3md9h2ro575fr.cloudfront.net/images/forth_bg2.png" class="image_large"  />
            <img src="http://d3md9h2ro575fr.cloudfront.net/images/bg4_small.png" class="image_small"  />

          </div>
        </div>
      </section>

      <section id="fifth" class="story" data-speed="6" data-type="background" data-offsetY="250">
      	<div class="story2">
      	  <div class="align-center trading_text">
      	    <div class="text5"></div>
      	  </div>
      	  <div class="items_swap inview first">
      	    <img src="http://d3md9h2ro575fr.cloudfront.net/images/Jaredprofile.png" class="f_img" />
      	    <div class="camera_holder">
      	      <img id="camera" src="http://d3md9h2ro575fr.cloudfront.net/images/camera.png" />
      	    </div>
      	    <div class="center_icons">
      	      <img src="http://d3md9h2ro575fr.cloudfront.net/images/Tradeya.png" /><br />
      	      <img src="http://d3md9h2ro575fr.cloudfront.net/images/tradeicon.png" style="margin-top: 50px; margin-left: 27px;"/>
      	    </div>
      	    <div class="bag_holder">
      	      <img id="louisvitton" src="http://d3md9h2ro575fr.cloudfront.net/images/Louisbag2.png" />
      	    </div>
      	    <img src="http://d3md9h2ro575fr.cloudfront.net/images/Jane_profile.png" class="s_img" />
      	  </div>
          <!-- shows only below 480px -->
          <div class="items_swap inview second">
            <img src="http://d3md9h2ro575fr.cloudfront.net/images/Jaredprofile.png" class="f_img" />
            <div class="camera_holder2">
              <img id="camera2" src="http://d3md9h2ro575fr.cloudfront.net/images/camera.png" />
            </div>
            <div class="center_icons">
              <div class="center_icons_inner">
                <img src="http://d3md9h2ro575fr.cloudfront.net/images/Tradeya.png" /><br />
                <img src="http://d3md9h2ro575fr.cloudfront.net/images/tradeicon.png" style="margin-top: 10px; margin-left: 36px;"/>
              </div>
            </div>
            <img src="http://d3md9h2ro575fr.cloudfront.net/images/Jane_profile.png" class="s_img" />
            <div class="bag_holder2">
              <img id="louisvitton2" src="http://d3md9h2ro575fr.cloudfront.net/images/Louisbag2.png" />
            </div>

          </div>
          <!-- shows only below 480px -->

      	</div>
      </section>

      <section id="last" class="story" data-speed="6" data-type="background" data-offsetY="250" >
      	<div class="story2">
      	  <div class="align-center">
      	    <!-- <div class="text6" data-type="sprite" data-offsetY="2050" data-Xposition="50%" data-speed="1.2"></div> -->
      	    <!-- <div class="text6"></div> -->
            <div class="text1"><img src="http://d3md9h2ro575fr.cloudfront.net/images/text1.png"></div>
      	  </div>
      	  <div class="input_buttons_last">
            <%if not current_user%>
            <!-- <div class="request_btn"><a href="#" data-toggle="modal" aria-labelledby="myModalLabel" onclick="$('#request_modal').modal('show');">Request an Invite</a></div> -->
            <div class="request_btn"><a href="#" data-toggle="modal" aria-labelledby="myModalLabel" onclick="$('#signup_box').modal('show'); analytics.track('Opened signup modal', {'Button location': 'Bottom CTA'});">Sign Up</a></div>
            <div class="invite_btn"><a href="#" data-toggle="modal" aria-labelledby="myModalLabel" onclick="/*_kmq.push(['record', 'Login', {'Show Login Modal': 'Global Top Nav Login Text Link','SignedIn' : get_KMSignedIn()}]); */_gaq.push(['_trackEvent', 'register', 'login', 'Login Prompt']);mixpanel.track('Login Prompt');$('#signinmessage').hide();$('#user_login_email').val('');$('#user_password').val(''); openLoginForm(); return false;">Log In</a></div>
            <%end%>
      	  </div>
      	</div>
      </section>

      <div class="request_form" style="display: none;">
        <div class="stop_buying">Stop buying stuff! Trade for everything!</div>
        <div class="revolution_text">Join the Revolution</div>
      </div>
      <div class="request_form_invited" style="display: none;">
        <div class="viva_revolution_text">Viva Revolution!</div>
        <div class="welcome_revolution">Welcome to the revolution! We'll send you an invite as<br /> soon it's available.</div>
      </div>
      <!-- <div id="push"></div> -->
    </div>
    <!-- <div id="footer">
    <div class="container">
    <div class="footer_inner">
    <ul>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">How it Works</a></li>
    <li><a href="#">Legal Notice</a></li>
    </ul>
    </div>
    <div class="footer_outer">
    <ul>
    <li><a href="#">Be a Fan<br /><img src="http://d3md9h2ro575fr.cloudfront.net/images/footer_fb.png" /></a></li>
    <li><a href="#">Follow Us<br /><img src="http://d3md9h2ro575fr.cloudfront.net/images/footer_tw.png" /></a></li>
    <li><a href="#">Join Us<br /><img src="http://d3md9h2ro575fr.cloudfront.net/images/footer_gplus.png" /></a></li>
    </ul>
    </div>
    </div>

    </div> -->
    <div id="sign_in_modal_div"><%= render 'modals_shared/login_form' %></div>
    <div id="sign_up_modal_div"><%= render 'modals_shared/signup_form' %></div>
    <div id="sign_up_conf_modal_div"><%=  render 'modals_shared/signup_confirmation'%></div>
    <% if !current_user and params[:show_login] %>
      <script>
       $(function(){
         // edit_item_mail = params[:edit_item];
         $('#signin_modal').modal('show');
       });
       <% if params[:edit_item] %>
       edit_item = "<%=params[:edit_item] %>";
       <% elsif params[:comment_for]%>
       comment_for = "<%params[:comment_for]%>";
       <% end %>
      </script>
    <% end %>
    <script>
     $(".request_invite").click(function(){
       $(".request_form").hide();
       $(".request_form_invited").show();
       // It changes the fb_pixel div class to load the fb conversion pixel.
       $("#fb_pixel").attr('class', 'fb_pixel_request');

       // A Google Analytics event to track conversions in GA.
       _gaq.push(['_trackEvent', 'Account', 'Request invite']);
       analytics.track('Requested invite');
     });
    </script>
  </body>
</html>

<div id="request_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div id="cross_image"> <a href="#" data-dismiss="modal" aria-hidden="true">X</a></div>
  <div id="request_content">
    <div class="request_text">Request an Invite</div>
    <div id="requestmessage"></div>
    <%= form_for(resource, :as => resource_name,
                 :url => {:controller => 'users', :action => 'reinvite'},
                 :html => {:method => :post},
                 :remote => true ) do |f| %>

      <%= devise_error_messages! %>

      <div class="control-group">
        <label class="control-label invite_heading">First Name</label>
        <div class="controls">
          <%= f.text_field :first_name,  :class=>"resend_input" %><br />
          <!-- <input class="resend_input" type="text"><br /> -->
          <span class="text_underneath">TradeYa is built on trust, real names create trusting communities</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label invite_heading">Email</label>
        <div class="controls">
          <%= f.email_field :email,  :class=>"resend_input" %><br />
          <!-- <input class="resend_input" type="email"><br /> -->
        </div>
      </div>
      <div class="control-group">
        <label class="control-label invite_heading_gender">Gender</label>
        <div class="controls control_gender">
          <label class="radio">
            <%= f.radio_button :gender,"male", :class => "notification_mode" %>
            <label>Male</label>
          </label>
          <label class="radio">
            <%= f.radio_button :gender, "female", :class => "notification_mode" %>
            <label>Female</label>
          </label>
          <label class="radio">
            <%= f.radio_button :gender, "none", :class => "notification_mode" %>
            <label>Unspecified</label>
          </label><br />
          <!-- <span class="text_underneath">People like to know what to expect, this helps.</span> -->
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <!-- <div class="request_submit_btn"><a href="#">Request</a> </div> -->
          <div class="request_submit_btn" ><a id="requestFormSubmitImg" class="login_btn position-click" onclick="request_invite(); return false;" href="#">Request</a></div>
        </div>
      </div>
    <% end %>
  </div>
  <div id="request_thanks" style="display:none">
    <div class="viva_revolution_text">Thank You!</div>
    <div class="welcome_revolution">Thank you for your interest in TradeYa!<br />We'll send you an invite as soon it's available.</div>
    <!-- <p>Share your discovery with your friends!</p> -->
    <!-- <div id="tweet" style="display:inline-block;"> -->
    <!--   <a class="twitter-share-button" data-count="horizontal" data-text="A new site I've discovered" data-url="http://tradeya.com/" data-via="tradeya" data-related="tradeya" href="https://twitter.com/share"></a> -->
    <!-- </div> -->
    <!-- <span style="display:inline-block; vertical-align:text-bottom;"> -->
    <!--   <div class="fb-like" data-href="http://tradeya.com/" data-layout="button_count" data-send="false" data-show-faces="false" data-width="90"> -->
    <!--   </div> -->
    <!-- </span> -->
    <!-- <div class="g-plusone" data-annotation="inline" data-href="http://tradeya.com/" data-size="medium" data-width="120"> -->
    <!-- </div> -->
  </div>
</div>

<!-- this div is to the pages - to track conversion we change the div class so the conversion pixels are exposed -->
<div id="fb_pixel"></div>

<script>
 $(function(){
   $("#user_gender_none").removeAttr("checked")
   $(document).keyup(function(e) {
     if (e.keyCode == 27) // reset modal on esc key press
     {
       close_request_modal();
     }
   })
   //reset modal on modal hide
   $('#request_modal').on('hidden', function () {
     close_request_modal();
   })

 });
 if ($.browser.msie && $.browser.version == 10) {
   $("*").css("font-family","Arial");
 }
 $(".input_buttons_last .request_btn a").click(function() {
   $("html, body").animate({ scrollTop: 0 }, "slow");
   return false;
 });
 $(".input_buttons_last .invite_btn a").click(function() {
   $("html, body").animate({ scrollTop: 0 }, "slow");
   return false;
 });
 
</script>

<script>
 $(document).ready(function(){
   analytics.page('Landing', {providers:{All: false, Mixpanel: true}});
 });
</script>
