<div class="tab-pane" id="shipping_info_tab">
  <%= form_for((@user), :html =>{:multipart => true, :id => 'user_settings_form', :class=>"form-horizontal",:remote=>true}) do |f| %>
  <div class="edit_profile_controls">
    <div class="control-group">
      <label class="control-label" for="inputfname">Address</label>
      <div class="controls relative_pos">
        <%= f.text_field :address, :class => "e_input" %>

        <!-- <input type="text" class="e_input"> -->
        <!-- <input type="text" class="e_input add2"> -->
        <%= f.text_field :city, :class => "e_input add2" %>
        <%stateslist = ['AL','AK','AZ','AR','CA','CO','CT','DC','DE','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY']+['AB','BC','LB','MB','NB','NF','NS','NU','NW','ON','PE','QC','SK','YU']%>
        <a href="#" class="edit_state" onclick="$('#profile_states').toggleClass('hidedrop'); return false;"><%= @user.state.present? ? @user.state : 'State' %></a>
        <div class="profile_states hidedrop" id="profile_states">
          <ul>
            <%stateslist.each do |state|%>
            <li><a href="#" onclick="selectState(this); return false;"><%=state%></a></li>
            <%end%>
          </ul>
        </div>
        <%= f.text_field :zip, :class => "e_input zip", :placeholder => "Zipcode" %>
        <!-- <input type="text" class="e_input zip" placeholder="Zipcode"> -->
        <span class="text_under_input">We keep this info on record so that IF you choose to share it after a TradeYa you can do so with one click. Otherwise it’s PRIVATE. </span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputfname">Shipping Notes</label>
      <div class="controls">
        <!-- <textarea class="e_textarea">Basic info like buzzer number, notes for delivery preferences. Dog on Premisses.</textarea> -->
        <%= f.text_area  :shipping_notes, :class => "e_textarea", :placeholder =>"Basic info like buzzer number, notes for delivery preferences. Dog on Premisses." %>
      </div>
    </div>
    <hr class="password_control_group" />
  </div>
  <div class="control-group">
    <div class="controls save_cancel_btn">
      <%= f.submit "Save", class: "edit_save", onclick: "needToConfirm = false;" %>
    </div>
  </div>
  <% end %>
</div>
