<script>
	offerForm = "new";
	var item_wants = [];
	var item_wants_count = 0;
	$(document).ready(function(){
		$("#upload_img_div").css('display', 'none');
	});
</script>
	<div id="youroffer_heading"><a name="uroffer_form" id="uroffer_form">Your offer</a></div>
<%= form_for(((isOffer) ? @offer : @item), :html => {:multipart => true, :id => "item_form", :autocomplete => ((current_user.present?) ? "off" : ""), :onSubmit => ((isOffer) ? "if(($(this).attr('action').indexOf('image_preview') < 0 && $(this).attr('action').indexOf('video_preview') < 0) && !$('#spambot').is(':checked')){alert('Please check spambot check box');return false;}" : "")}) do |f| %>
  <% if @item and @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

    </div>
  <% end %>
	<input id="item_tod" name="item[tod]" style="display:none" type="checkbox" value="1" <%= ((isOffer) ? '' : 'checked=checked') %> />
	<input type="hidden" name="user_id" id="user_id"/>
	<% if isOffer %>
		<table align="center" class="user_has" width="100%" style="margin-left:0px;">
	<% else %>
		<!--[if IE ]><table align="center" class="user_hasie" width="87%"><![endif]-->
		<!--[if !IE]>--><table align="center" class="user_has" width="87%"><!--<![endif]-->
	<% end %>
		<tr>
			<td class="label_tradeya" width="15%">
				<span>CATEGORY</span>
			</td>
			<td width="2%"></td>
			<td width="50%">
				<div class="category_type" onclick="$('#category_drop').toggleClass('hidedrop');$('.subcategories').addClass('hidedrop'); $('.left').css('background-color','#fff'); $('.right').css('background-color','#fff');" TABINDEX="2"><span id="choose_cat"><%= @cat.present? ? @cat.name : 'Choose Category' %></span></div>
				<div id="category_drop" class="hidedrop" >
					<ul>
						<% c = 1 %>
						<% Category.root.categories.each do |s| %>
							<% if "interests" != s.name.downcase %>
								<li <%= (c % 2) == 0 ? 'class=right' : "class=left" %> onmouseover="$('.subcategories').addClass('hidedrop'); $('#<%= s.name %>_subcategory').removeClass('hidedrop'); $(this).css('background-color', '#e6f2f9'); categoryHover();" onmouseout="$(this).css('background-color', '#fff');"><a href="#" onclick="return false;"><%= s.name%></a></li>
								<% c += 1 %>
							<% end %>
						<% end %>
					</ul>
				</div>
				<% Category.root.categories.each do |s| %>
					<% if "interests" != s.name.downcase %>
						<ul id="<%= s.name %>_subcategory" class="hidedrop subcategories" onmouseover="categoryHover();">
						<% c = 1 %>
						<% gm = s.general_misc_cat %>
						<% if not gm.nil? %>
							<li id="subcat_item_misc" onclick="selectCategory(this,'choose_cat','category_drop', 'item', <%= gm.id %>);" v='"I am not sure"' cat_name='"I am not sure"' cat_p_name="<%= gm.parent.name %>"><a href="#" onclick="return false;">"I am not sure"</a></li>
						<% end %>
						<% s.categories.each do |g| %>
							<li id="subcat_item_<%= g.id.to_s %>" onclick="selectCategory(this,'choose_cat','category_drop', 'item', <%= g.id %>);" v="<%= g.name %>" cat_name="<%= g.name %>" cat_p_name="<%= g.parent.name %>"><a href="#" onclick="return false;"><%= g.name %></a></li>
							<% c += 1 %>
						<% end %>
						<br style="clear: both;" />
						</ul>
					<% end %>
				<% end %>
				<%= f.hidden_field :category_id, :value => @cat.present? ? @cat.id.to_s : '' %>
				<div id="categorymessage"></div>
			</td>
		</tr>
		<% if current_user %>
			<tr id="pst_ofr_and_trd_div">
				<script type="text/javascript">
					$(function(){refreshModal('pst_ofr_and_trd', false);});
				</script>
			</tr>
		<% end %>
		<tr>
			<td class="label_tradeya">
				<span>TITLE</span>
			</td>
			<td></td>
			<td>
				<%=  f.text_field :title, :class => "title_text addborder", :value=>"Write a title for your good or service here...", :TABINDEX=>"1",:maxlength => "72", :onkeyup => ((current_user.present?) ? "myOfferTitles(event);" : ""), :onkeydown => ((current_user.present?) ? "movesearchedown(event);" : ""), :onFocus => "clearText(this); $('#item_title').addClass('addborder'); $('#item_title').removeClass('removeborder')", :onBlur => "clearText(this); $('#item_title').addClass('removeborder'); $('#item_title').removeClass('addborder');" %><br />
				<div id="offer_title_dropdownbox" class="offer_title_dropdown-box" style="display:none;z-index:1;">
					<div id="offer_title_dropdown-body" >
						<div id="winespinner"><img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/spinner.gif" style="height: 20px;"> Searching results....</div>
						<div id="offer_title_resultdiv" class="to"  style="margin-top: -15px;">
							<ul id="ul_offer_title_list"></ul>
						</div>
					</div>
				</div>
				<div id="titlemessage"></div>			
			</td>
		</tr>
		
		<tr valign="top">
			<td class="label_tradeya">
				<div style="padding-top: 10px;">DESCRIPTION</div>
			</td>
			<td></td>
			<td>
				<textarea id="item_desc" name="item[desc]" class="desc_text removeborder" TABINDEX="3" onFocus="clearText(this); $('#item_desc').addClass('addborder'); $('#item_desc').removeClass('removeborder')" onBlur="clearText(this); $('#item_desc').addClass('removeborder'); $('#item_desc').removeClass('addborder')">Add more details about your good or service here...</textarea>
				<div id="descmessage"></div>
			</td>
		</tr>
		<tr id="photo_video_dropdown" valign="top">
			<td>
			</td>
			<td>
			</td>
			<td>
				<div onclick="$('#photo_video_dropdown').toggle(); $('#photo_video_section').toggle();">
					<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/arrow_close.png" id="newarrow" />
					<a style="cursor:pointer;">
						<span class="photo_text">Add a Photo or Video! (*Will greatly increase chances of your offer being picked.)</span>
					</a>
				</div>
			</td>
		</tr>
		<tr id = "photo_video_section" valign="top" class='hidedrop'>
			<td class="label_tradeya">
				<span>Photo/ Video</span>
			</td>
			<td>
				<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/arrow_open.png" />
			</td>
			<td class="photo_text">
				<a style="cursor:pointer;" onclick="$('#photo_video_dropdown').toggle(); $('#photo_video_section').toggle();();"><span>Choose ONE awesome image or make a video to get people psyched to WANT what you HAVE.</span></a><br />
				<div id="tab_outer">
					<ul class="tabs">
					<li id="tab1"><a href="#" onclick="return tab1a();" class="current">Upload a Photo or Video</a></li>
					<li id="tab2"><a href="#" onclick="return tab2a();">Record a Video</a></li>
				</ul>

					<!-- tab "panes" -->
					<div class="panes">
					<!--[if IE ]><div class="pane1" id="pane1ie"><![endif]-->
					<!--[if !IE]>--><div class="pane1"><!--<![endif]-->
						<div id="browse_img_video">
							<div>
								<input type="radio" name="file_type" id="file_type_photo" value="photo" checked="checked" onclick="jQuery('#video_upload_div').hide(); jQuery('#photo_upload_div').show(); jQuery('#preview_video').hide(); jQuery('#preview_img').show();"><span>Photo</span></input>
								<input type="radio" name="file_type" id="file_type_video" value="video" onclick="jQuery('#photo_upload_div').hide(); jQuery('#video_upload_div').show(); jQuery('#preview_img').hide(); jQuery('#preview_video').show();">&nbsp;&nbsp;Video
							</div>
							<p id="browse_text">Browse for an image or video file</p>
							<div class="file_div">
								<div id="photo_upload_div">
									<span class="select_file" id="selected_photo_file" style="position: absolute; z-index: 0">No file selected</span>
									<span class="fileupload_img">
										<%= f.fields_for @item_photo do |ip| %>
											<div style="width: 105px; height: 26px; overflow: hidden; position: absolute; margin-left: -104px; z-index: 0">
												<img id="icp_img" style="float: left" src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/browse.png" />
												<%= ip.file_field :photo, {:style => "opacity: 0; filter: alpha(opacity = 0); -moz-opacity:0; position: absolute;top: 0; left: 0; width: 102px;height:26px", :accept => "image/*", :onmouseover => "$('#icp_img').attr('src', 'https://s3.amazonaws.com/tradeya_prod/tradeya/images/browse_roll.png')", :onmouseout => "$('#icp_img').attr('src', 'https://s3.amazonaws.com/tradeya_prod/tradeya/images/browse.png')", :onChange => "canSubmitCanNext = true;jQuery('#selected_photo_file').text(jQuery(this).val().substring(jQuery(this).val().lastIndexOf('\\\\') + 1));imagePreview('item_item_photo_photo', 'item_form', 'tradeya_img_prev', true, 'item_item_photo_id');",:TABINDEX=>"4"} %>
												<% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
													<%= ip.hidden_field attribute, :id => attribute %>
												<% end %>
												<input id="item_item_photo_id" name="item[item_photo][id]" type="hidden">
											</div>
										<% end %>
									</span>
								</div>
								<div id="video_upload_div" class="hidedrop">
									<span class="select_file" id="selected_video_file" style="position: absolute; z-index: 0">No file selected</span>
									<span class="fileupload_img">
										<%= f.fields_for @item_video do |ip| %>
											<div style="width: 105px; height: 26px; overflow: hidden; position: absolute; margin-left: -104px; z-index: 0">
												<img id="icp_vdo" style="float: left" src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/browse.png" />
												<%= ip.file_field :video, {:style => "opacity: 0; filter: alpha(opacity = 0); -moz-opacity:0; position: absolute;top: 0; left: 0; width: 102px;height:26px", :accept => "video/*", :onmouseover => "$('#icp_vdo').attr('src', 'https://s3.amazonaws.com/tradeya_prod/tradeya/images/browse_roll.png')", :onmouseout => "$('#icp_vdo').attr('src', 'https://s3.amazonaws.com/tradeya_prod/tradeya/images/browse.png')", :onChange => "canSubmitCanNext = true;jQuery('#selected_video_file').text(jQuery(this).val().substring(jQuery(this).val().lastIndexOf('\\\\') + 1));videoPreview('item_item_video_video', 'item_form', 'tradeya_video_prev', 'item_item_video_id');"} %>
												<input id="item_item_video_id" name="item[item_video][id]" type="hidden">
											</div>
										<% end %>
									</span>
								</div>
							</div>
							<div id="image_spinner" style="display: none;"><img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/spinner.gif" style="height: 20px;"></div>
							<div id="video_spinner" style="display: none;"><img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/spinner.gif" style="height: 20px;"></div>
							<div id="photomessage"></div>
							<div id="requirements">
								<div id="photo_req">Photo requirements:</div>
								<div id="photo_det">Minimum size: 340 x 256 pixels. A photo that does not meet the requirements may work, but no one likes blurry or pixelated photos of things.</div>
								<div id="video_req">Video requirements:</div>
								<div id="video_det">File size must be no larger than 1gb and in 3gp, .avi, .asf, .mov, .wmv, .mpg, or .mp4 in formats.</div>
							</div>
							<div id="upload_img_div">
								<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/upload_file.png" onclick="jQuery('#browse_img_video').hide(); jQuery('#preview_img_video').show();" onmouseover="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/upload_file_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/upload_file.png';" />
								<div class="cancel_photo">
									<span class="or">or</span> <span class="cancel"><a href="<%= root_url %>">Cancel</a></span>
								</div>
							</div>
						</div>
						<div id="preview_img_video" class="hidedrop">
							<div id="preview_img">
								<div>
									<div style="width:360px; height:260px; overflow: hidden; float: left">
										<img id="tradeya_img_prev" src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/img_prev_default.png"/><br />
									</div>
									<div id="crop_preview" style="float: right; text-align: left;" class="hidedrop">
										<h4 style="font-size: 16px; font-weight: bold; margin-bottom:10px;">Preview</h4>
										<div style="width: 136px; height: 102px; overflow: hidden;">
												<img id="tradeya_img_prev_small" src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/img_prev_default.png"/>
											</div>
										<img style = "margin-top:15px;"src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/crop.png" onclick="cropImage('item_item_photo_id', 'tradeya_img_prev', true);" onmouseover="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/crop_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/crop.png';" />
									</div>
								</div>
								<div class="delete_photo_text" style="clear: both;">
									To switch this with new file or video, you must <a href="#" onclick="return deleteThisPhoto();">Delete this photo</a>
									<div align="center" style="float: left" class="img_indicator" id="ind_tradeya_img_prev"><img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/newajax-loader.gif"/></div>
								</div>
							</div>
							<div id="preview_video" style="display: none;">
								<a href="#" onclick="return false;" style="display:block; width:340px; height:254px; float: left;" id="player"></a>
								<table id="rotate_preview" style="float: right; width: 175px; min-height: 255px; text-align: left; border-spacing: 0px; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px;" cellspacing="10">
									<tr>
										<td>
											<h4 style="font-size: 16px; font-weight: bold; margin-top: -3px;">Edit Video</h4>
											<hr style="margin-top: 1px;" />
										</td>
									</tr>
									<tr>
										<td>
											<p style="font-weight: bold;">Rotate</p>
											<p>Each click turns the image 90 degrees. When you're satisfied with adjustments, click the "done" button.</p>
										</td>
									</tr>
									<tr>
										<td><table width="95px" style="margin-top: 5px;"><tr>
											<td align="center"><img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/rotate_icon_left.png" width="42px" onclick="rotateVideo(2);" /></td>
											<td align="center"><img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/rotate_icon_right.png" width="42px" onclick="rotateVideo(1);" /></td>
											<td align="center" valign="middle"><div id="video_rotate_spinner" style="display: none;"><img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/spinner.gif" style="height: 20px;"></div></td>
										</tr></table></td>
									</tr>
									<tr>
										<td><table width="95px" style="margin-top: -10px;"><tr>
											<td align="center" width="50%">Left</td>
											<td align="center">Right</td>
										</tr></table></td>
									</tr>
									<tr>
										<td><table width="95px" style="margin-top: 10px;"><tr>
											<td align="center">
												<img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/done.png" onclick="$('#rotate_preview').hide();" />
											</td>
										</tr></table></td>
									</tr>
								</table>
								<div class="delete_video_text" style="clear: both;">
									To switch this with new file or video, you must <a href="#" onclick="return deleteThisVideo();">Delete this video</a>
									<div align="center" style="float: left" class="img_indicator" id="ind_tradeya_video_prev"><img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/newajax-loader.gif"/></div>
								</div>
							</div>
						</div>
					</div>
					<div class="pane2 hidedrop" id="videotab">
						<div id="recorder_div">
							<div id="video_checklist">
								<b>Video Checklist</b>
								<p>You’ve got 30 seconds to make your video, so be concise and sit at arm’s length from the screen.</p>

								<p>Try to keep the light in front of you and not behind you.</p>

								<p>Look into the camera to create a personal connection.</p>

								<p>Click on the record button to start, click it again to stop.</p>

								<p>Make sure to preview your video before you submit your TradeYa!</p>

								<p>(Hit the "redo" button on the bottom left corner if you want to redo)</p>
							</div>
							<div id="recorderContainer" style="float:left; height:340px; width 329px; margin-right:8px;">
								<p>Recorder:</p>
							</div>
						</div>
						<div id="player_div" class="hidedrop">
							<div id="playerContainer" style="float:left; height:340px; width 320px;">
								<p>Stand-alone player:</p>
							</div>
							<div id="archiveList" style="float: right; margin-top: 12px; height: 262px; width: 200px; overflow: auto;">
								<p>Recordings (click to play):</p>
							</div>
							<img src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/retake.png" style="margin-left: 62px;" onclick="$('#player_div').hide(); $('#recorder_div').show();" onmouseover="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/retake_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/retake.png';"/>
						</div>
					</div>
				</div>
				</div>
			</td>
		</tr>
		<input type="hidden" id="item_selected_item_id" name="item[selected_item_id]"/>
		<% if isOffer %>
		<%= f.hidden_field :tod_id, :value => @item.id %>
		<%= f.hidden_field :edit_offer, :value => (isOffer and !@offer.id.nil?) ? true:false %>
		<%= f.hidden_field :is_tod, :value => false %>
		<tr>
			<td></td>
			<td></td>
			<td>
				<img src="https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/checkbox.png" id="spambot_chkbox_image" onclick="checkUncheck(this, '', 'spambot')" TABINDEX="6" style="margin-top: 15px;" />
				<div id="spambot_div"></div>
				<div class="label_chkbx"><b>Check this box if you are <span style="color: red;">NOT</span> a spambot.</b></div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="height: 20px;"></div>
			</td>
		</tr>
		<tr>
			<td colspan="3" class="submit_btn">
				<img TABINDEX="7" class='position-click' onclick="submitOfferChkSignIn(true);" src="https://s3.amazonaws.com/tradeya_prod/tradeya/images/submit_offer.png" id="submit_btn_offer" onmouseover="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/submit_offer_roll.png';" onmouseout="this.src='https://s3.amazonaws.com/tradeya_prod/tradeya/images/submit_offer.png';" />
				<div class="canceldiv" style="margin-left: 262px; margin-top: -33px;">
					<span class="or">or</span> <span class="cancel"><a class='cancel-click' href="#" id="submit_offer_cancel" onclick="/*_kmq.push(['record', 'TradeYa Page Sumbit Offer Cancel Button',{ 'SignedIn' : get_KMSignedIn()}]); _gaq.push(['_trackEvent', 'Activity', 'Clk_CancelSbmOfr', 'Click Submit Offer Cancel Link']);*/ return submitOfferCancel();">Cancel</a></span>
				</div>
			</td>
		</tr>
		<% end %>
	</table>
<div style="height: 60px;"></div>
<input type="hidden" id="new_offer_flow" name="new_offer_flow" value="1" />
<%end%>
<script>
bindAjaxSpinner();
<% if (isOffer and not @offer.id.blank?) %>
	<% itm = @offer %>
	$(function(){
		$('#item_title').val("<%= escape_javascript(itm.title).html_safe %>");
		$('#item_desc').val("<%= escape_javascript(itm.desc).html_safe %>");

		<% if itm.item_photos and  itm.item_photos.size > 0%>
			$('#selected_photo_file').text("<%= escape_javascript(itm.item_photos[0].photo_file_name) %>");
			$('#browse_img_video').hide(); 
			$('#preview_img_video').show();
			$('#tradeya_img_prev').attr('src', '<%= escape_javascript(itm.item_image) %>');
			$("#tab1 a").text('Photo or Video preview');
			showPhotoVidSection();
		<% elsif itm.item_videos and itm.item_videos.size > 0 %>
			jQuery('#file_type_video').click();
			$('#selected_video_file').text("<%= escape_javascript(itm.item_videos[0].video_file_name) %>");
			playVideo('player', '<%= escape_javascript(itm.item_videos[0].video.url) %>', false);

			$('#rotate_preview').hide();
			jQuery('#browse_img_video').hide();
			jQuery('#preview_img_video').show();
			$('#selected_video_file').text();
			showPhotoVidSection();
		<% end %>
		<% if !itm.is_single_tradeya  %>
			$('#multi_trade_img').attr('src','https://s3.amazonaws.com/tradeya_stg_2/tradeya/images/checkbox_filled.png');
			$('#tr_mlt_time').attr('checked','checked')
		<% end  %>
		<% if (itm.item_wants and itm.item_wants.count > 0) %>
			<% itm.item_wants.each do |itmw| %>
				$('#item_item_want_title').val("<%= escape_javascript(itmw.title).html_safe %>");
				$('#choose_cat_want').val("<%= escape_javascript(itmw.category.name).html_safe %>");
				$('#item_item_want_desc').val("<%= escape_javascript(itmw.desc).html_safe %>");
				$('#item_item_want_category_id').val("<%= itmw.category_id %>");
				$('#item_item_want_category_id').attr('cat_name', "<%= escape_javascript(itmw.category.name).html_safe %>");
				$('#item_item_want_category_id').attr('cat_p_name', "<%= escape_javascript(itmw.category.parent.name.html_safe) %>");
				addAnotherItemWant();	
			<% end  %>
		<% end %>
	});
<% end %>
function categoryHover(){	
	if ($("#goods_subcategory").hasClass('hidedrop')){
		$("#category_drop .left").css('background-color','#fff');
		$("#category_drop .right").css('background-color','#e6f2f9')
	}
	if ($("#services_subcategory").hasClass('hidedrop')){
		$("#category_drop .right").css('background-color','#fff');
		$("#category_drop .left").css('background-color','#e6f2f9');
	}
}
function showPhotoVidSection(){
	$('#photo_video_dropdown').addClass('hidedrop'); 
	$('#photo_video_section').removeClass('hidedrop');
}
function hidePhotoVidSection(){
	$('#photo_video_dropdown').removeClass('hidedrop'); 
	$('#photo_video_section').addClass('hidedrop');
}
</script>
