<%= form_for(@thumb_up_down) do |f| %>
  <% if @thumb_up_down.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thumb_up_down.errors.count, "error") %> prohibited this thumb_up_down from being saved:</h2>

      <ul>
      <% @thumb_up_down.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.number_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.text_field :person_id %>
  </div>
  <div class="field">
    <%= f.label :up_down %><br />
    <%= f.text_field :up_down %>
  </div>
  <div class="field">
    <%= f.label :token %><br />
    <%= f.text_field :token %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
