<!-- <p>Hello <%= @resource.email %>!</p>

<p>Someone has invited you to <%= root_url %>, you can accept it through the link below.</p>

<p><%#= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p>If you don't want to accept the invitation, please ignore this email.<br />
Your account won't be created until you access the link above and set your password.</p> -->
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="background-color: #eeeeee; padding: 0px; margin: 0px">
    <div><font face="null"></font>&nbsp;</div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" bordercolor="#666666">
      <tbody>
	<tr bgcolor="#ffffff">
	  <td style="margin: 0pt" align="center" bgcolor="#eeeeee">
	    <table style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333333" border="0" cellpadding="20" cellspacing="0" width="560" bordercolor="#333333">
	      <tbody>
		<tr align="center">
		  <td style="background-color: #463f36"><img alt="" src="http://d3md9h2ro575fr.cloudfront.net/images/tradeya_logo.png" title="" align="left" /></td>
		</tr>
		<tr align="center" bgcolor="#ffffff">

		  <td align="left">

		    <span style="font-size: 15px">Hey <%= @resource.first_name.titleize if @resource.present? %>,</span>

		    <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px"></blockquote><br />

		    <span style="font-size: 15px">We’re excited to officially invite you to join the revolution and sign up for TradeYa’s private beta experience.</span>

		    <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px"></blockquote><br />

		    <span style="font-size: 15px">With this invite you now have access to the easiest way to get anything you want without buying it.</span>

		    <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px"></blockquote><br />

		    <span style="font-size: 15px"><%= link_to 'Click HERE', accept_invitation_url(@resource, :invitation_token => @token) %> to register and accept your invitation.</span>

		    <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px"></blockquote><br />

		    <span style="font-size: 15px">TradeYa is a new community that believes there’s a better way to do things. From finding gifts for your friends, to receiving healthcare, to getting that new pair of headphones you’ve been wanting, TradeYa gives you everything you need to connect with people (your friends or people you meet on TradeYa) to use what you already have to get anything you want.</span>

		    <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px"></blockquote><br />

		    <span style="font-size: 15px">Pretty cool.</span>

		    <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px"></blockquote><br />

		    <span style="font-size: 15px">
		      If you have any questions, <%=mail_to 'jared@tradeya.com', "drop us a line"%>. We’re always interested to hear what you have to say.
		    </span>

		    <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px"></blockquote><br />

		    <span style="font-size: 15px"><br />
		      Happy trading!
		    </span><br />
		    <span style="font-size: 15px">The TradeYa Team</span>

		    <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px">
		      <span style="font-size: 15px"><br /></span>
		    </blockquote>
		  </td>
		</tr>
	      </tbody>
	    </table>
	  </td>
	</tr>
	<tr>
	  <td align="center" bgcolor="#eeeeee">
	    <span style="font-size: 10px; display: block; margin-top:5px; margin-bottom:5px;">TradeYa.com © 2013, All Rights Reserved <a href="<%= unsubscribe_mail_url %>">Unsubscribe/Change Notification</a></span>
	  </td>
	</tr>
      </tbody>
    </table>
  </body>
</html>
